body {
    font-family: sans-serif;
}
header{
    background:lightblue;
    padding: 15px;
}
header a{
    text-decoration: darkgrey;
    border: 3px solid black;
    padding: 10px;
    margin: 40px;
    border-radius: 50px;
    color: rgb(212, 36, 36);
}
nav{
background:rgb(8, 8, 8, 0.697);
padding: 12px;
}
nav a{
    text-decoration:none;
    background:rgb(177, 220, 133);
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    color: rgb(212, 36, 36);
}
main p{
    background: lightskyblue;
    padding: 40px;
    width: 40%;
    text-align: center;
    margin-left: 23%;
}
